@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.044);
  color: black;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

.navbar .left {
  display: flex;
  gap: 20px;
  margin-left: 5%;
}

.navbar .right {
  margin-right: 5%;
}

.navbar .right a {
  color: black;
  text-decoration: none;
  padding: 15px;
  background-color: aquamarine;
}

.navbar img {
  width: 5%;
}

.welcome img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.main_content {
  display: flex;
  gap: 10px;
  margin-top: 10vh;
  margin-inline: auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20vh;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.main_content .leftSide {
  margin-left: 5%;
  width: 40%;
}

.main_content .rightSide img {
  margin-right: 5%;
}

.planches {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  align-items: center;
  text-align: left;
  margin-inline: auto;
  margin-bottom: 20vh;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.products {
  max-width: 70%;
  margin: auto;
}

.planches ul {
  padding: 0;
  margin-right: 10%;
}

.planches .text {
  display: flex;
  flex-direction: column;
}

.planches .image img {
  width: 600px;
}

.accessoires {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.accessoires .text {
  display: flex;
  flex-direction: column;
}
.accessoires ul {
  margin-left: 10%;
}

.accessoires .image img {
  width: 600px;
}

footer {
  background-color: #2b2d30;
  color: White;
  padding: 50px;
  margin-top: 15vh;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer .leftSide {
  display: flex;
  gap: 10px;
}

footer .leftSide img {
  width: 5%;
}

.contact {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.142);
  width: fit-content;
  margin-inline: auto;
  margin-top: 10vh;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5vh;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .contact-form input[type="text"] {
  padding: 20px 45px 20px 5px;
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact-form input[type="submit"] {
  padding: 15px;
  background-color: aquamarine;
}
